*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/background_image\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgba(0,0,0, 0,20);
    width: 120px; */
    /* font-family: 'Poppins', sans-serif; */
}
.contanier{
    background-color: rgba(0, 0, 0, 0.26);
    text-align: center;
    height: 900px;
    margin: 25px 30px;
    color: white;
    /* border: 1px solid red; */
    

}
header{
    /* border: 1px solid red; */
    font-family: 'Bowlby One SC', cursive;
    font-size: 30px;

}
#flıx{
    color: red;
}
header p{
    font-family: 'Poppins', sans-serif;
}
.formlar{
    background-color: rgba(0, 0, 0, 0.8);
    text-align: left;
    padding: 20px 30px;
    width: 25%;
    margin: auto;
    margin-top: 10px;
    /* line-height: 30px; */
    font-size: 20px;
}
#isim,#age,#email,#dropdown,#feedback{

    padding: 10px;
    width: 100%;
    margin-top: 10px;



}
.input{
    margin-top: 10px;
}
textarea{
    width: 300px;
    height: 70px;
    resize: none;
}
.submit input{
    
    padding: 10px 30px;
    background-color: red;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.submit{
    text-align: center;
   
}
.submit input:hover{
    background-color: aqua;
}
#content{
    font-size: 30px;
}  
#section{
    padding: 5px 5px;
}    